@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&family=IBM+Plex+Sans+Arabic:wght@300&family=Merriweather+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&family=IBM+Plex+Sans+Arabic:wght@300&family=Merriweather+Sans:wght@300;700;800&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-font: "Heebo", sans-serif;
  --logo-font: "Merriweather Sans", sans-serif;
}

body,
main,
header h1 {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgb(218, 218, 218);
  padding: 0px 18px;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.searchbar {
  width: auto;
  height: 40px;
  background-color: rgb(240, 240, 240);
  border-radius: 7px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
}

.search_icon {
  width: 20px;
  color: rgb(95, 95, 95);
  margin-right: 10px;
}

.searchbar input {
  flex: 1;
  height: 35px;
  font-family: var(--primary-font);
  font-size: 16px;
  border: none;
  outline: none;
  background-color: rgb(240, 240, 240);
}

header h1 {
  font-family: var(--logo-font);
  text-transform: uppercase;
  font-weight: 300;
  justify-self: center;
}

header h1 span {
  font-weight: 800;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-radius: 50px;
  padding: 7px 18px;
  margin: 10px 10px 10px 0px;
  border: none;
  font-family: var(--primary-font);
  font-size: 16px;
}

.button_icon {
  margin-right: 6px;
}

.red_button {
  color: white;
  background-color: rgb(194, 0, 0);
  border: none;
}

.dropdown {
  border: grey solid 1px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0px 13px;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

main {
  padding-top: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 3vw;
}

article {
  width: 700px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
  margin-bottom: 5px;
}

article img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
}

article > h2, article >
p {
  text-align: center;
}

article .recipe_label {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.recipe_label p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle_p {
  border-left: 1px solid rgb(240, 240, 240);
  border-right: 1px solid rgb(240, 240, 240);
}

section {
  margin: 35px 0px 20px 0px;
}

section h3 {
  display: flex;
  justify-content: space-between;
  margin: 8px 0px;
}

.serves {
  font-size: 15px;
  background-color: rgb(240, 240, 240);
  padding: 0px 10px;
  border-radius: 50px;
  color: grey;
}

section ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: grey;
}

section li {
  margin: 5px 0px;
  font-size: 15px;
}

article nav {
  display: flex;
}

.recommendations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.recommendations h4 {
  font-size: 20px;
}

.recommendationsList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 270px));
  grid-gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 6vw;
}

.recommendations_tile {
  position: relative;
  font-size: 16px;
}

.recommendations_tile img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 5px;
}

.article_title {
  position: absolute;
  width: 270px;
  height: 70px;
  top: 200px;
  background-color: rgba(0, 0, 0, 0.315);
  color: white;
  text-align: left;
  margin: 0;
  padding: 10px 15px;
  display: block;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tile_info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
}

.tile_info p {
  margin: 0;
  text-align: left;
}

.rating {
  text-align: center;
  grid-row: 1/3;
  grid-column: 2/3;
}

.tile_rating {
  padding: 0px 10px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 6px;
  font-size: 20px;
}

footer {
  background-color: rgb(231, 231, 231);
  padding: 28px 5vw;
}

.footer_menu {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0px 5vw 30px 5vw;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.footer_menu_lists {
  display: flex;
  justify-content: space-around;
}

.footer_menu_lists p {
  margin: 8px 0px;
}

.download_app {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}
.download_app p {
  font-size: 15px;
  color: rgb(61, 61, 61);
}

footer nav {
  display: flex;
  flex-direction: column;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: grey;
}

footer li {
  margin: 8px 0px;
}

.disclaimer {
  text-align: center;
  font-size: 15px;
  color: grey;
}